@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*font-family: 'Poppins', sans-serif;
font-family: 'Lato', sans-serif;*/
.boshi {
	width: 1600px;
	height: 953.59px;
	/*background-color: #fff5f5;*/
	background-image: url(../img/Rectangle.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 5px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.header {
	width: 1108px;
	height: 100%;
}
.header-1 {
	display: flex;
	justify-content: space-between;
	margin-top: 51px;
}
.header-1_h1 {
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 900; 
	line-height: 37.5px;
}
.header-1_menu ul {
	display: flex;
}
.header-1_menu ul li{
	list-style: none;
	display: flex;
	margin-left: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 28.8px;
}
.header-1_menu ul li a{
	text-decoration: none;
	color: #000;
	transition: all 0.2s;
}
.header-1_menu ul li a:hover{
	color: #3988FF;
	border-bottom: 2px solid #3988FF;
}
.header-1_btn button {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	padding: 15px 30px;
	border-radius: 5px;
	display: flex;
	background: #3988FF;
	border: none;
	margin-top: -15px; 
	color: #fff;
	opacity: 0.8;
	transition: 0.3s;
}
.header_top_btn > button{
	padding:15px 30px;
	color:white;
	background: #3988FF;
border-radius: 5px;
}
.header-1_btn button:hover {
	opacity: 1;
}
.header_content {
	display: flex;
	justify-content: space-between;
}
.header_content_left {
	font-family: 'Lato', sans-serif;
	width: 500px;
	margin-top: 200px;
}
.header_content_left h1{
	font-size: 69px;
	font-weight: 700;
    width:400px;
}
.header_content_left h1 span {
	color: #3988FF;
}
.header_content_left p {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #575859;
	width: 496px;
	height: 87px;
	margin-top: 20px;
}
.watch_video {
	display: flex;
	margin-top: 30px;
}
.btn {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.btn img {
	width: 18px;
	margin-left: 5px;
}
.watch_video p{
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-left: 30px;
}
.header_content_right {
	position: relative;
}
.img1{
	margin-left: -150px;
	margin-top: 50px;
	position: absolute;
}
.img2 {
	margin-top: 320px;
} 
.img3 {
	position: absolute;
	margin-left: -250px;
	margin-top: 200px;
}
.img4 {
	position: absolute;
	margin-left: -600px;
	margin-top: 200px;
}
.img5 {
	position: absolute;
	margin-left: -700px;
	margin-top: 120px;
}

.ikki-item2 h3{
	position: absolute;
width: 786px;
height: 60px;
left: 407px;
top: 1982px;
font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 43px;
line-height: 140%;
text-align: center;
color: #050C26;

}
.ikki-item2 p{
	position: absolute;
width: 874px;
height: 62px;
left: 363px;
top: 2067px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;
text-align: center;
color: #575859;
}
.rasmlar{
	display:flex;
	margin-top:420px;
	margin-left:230px;
}
.rasmlar img{
	width:262px;
	height:413px;
	margin-left:30px;
	box-sizing:border-box;
}
.box > h2{	
position: absolute;
width: 492px;
height: 120px;
left: 230px;
top: 2752px;
font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 43px;
line-height: 140%;
color: #050C26;
}
.box > p{
	position: absolute;
width: 604px;
height: 87px;
left: 230px;
top: 2897px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;
color: #575859;
}
.box2{
	display:grid;
	grid-template-columns: 400px 400px 400px;
	margin-top:70px;
	margin:470px 230px;

}
#box-item2{
	display:grid;
	grid-template-columns: 400px 400px 400px;
	margin-top:60px;
}
.box-item{
/* position:absolute; */
width: 360px;
height: 413px;
left: 230px;
top: 3054px;
background: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(104px);
border-radius: 10px;
margin-right:30px;
}

.bo-it{
width: 280px;
height: 333px;
margin:40px;
background: #F3F3F3;
border-radius: 10px;
}
.bo-it > h4{
  text-align:center;
  padding-top:62px;
  font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 150%;
text-align: center;
color: #050C26;

}
.bo-it > p{
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
text-align: center;
color: #575859;
padding:20px;
}
.navbar{
	margin-top:-260px;
}
.navbar > p{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
margin-left:711px;
letter-spacing: 0.05em;
color: #575859;
}
.navbar > h3{
	font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 140%;
margin-left:639px;
color: #050C26;
}
.navbar > .but {
display:flex;
align-items: center;
justify-content: center;
width: 340px;
height: 59px;
margin-top:30px;
margin-left:624px;
border: 1px solid #1B45DA;
box-sizing: border-box;
border-radius: 5px;
}
.bu1{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px 20px; 
    margin-left:65px;
	background: #3988FF;
	border-radius: 5px;
}
.bu{
	margin:20px;
}
.quti{
	display:flex;
	margin:60px 230px;

}
.quti-item{
	position: relative;
	width: 360px;
	height: 613px;
	background: #FFFFFF;
	box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
	border-radius: 10px;
	margin-right:30px;
}
.bacik  img{
	position:absolute;
	top:0;	
}
.bacik h3{
	position:absolute;
	font-size:25px;
	top:46px;
	left:132px;
}
.bacik > p {
	position:absolute;
margin-top:11px;
margin-left:-4px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 160%;
color: #050C26;
transform: rotate(-45deg);
}

.ras{
position:absolute;
margin-left:-15px;
margin-top:-14px;
}
.quti-item:nth-child(2){
	background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
    
}
.quti-item:nth-child(2) h2{
margin-top:160px;
}
.quti-item:nth-child(2) button{
	background-color: #3988FF;
	color:#F3F3F3;
}
.quti-item > h3{
	font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 150%;
text-align: center;
color: #050C26;
margin:46px 0;

}
.quti-item > h2{
	font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 140%;
text-align: center;
color: #050C26;
margin-top:85px;
}
.quti-item > span {
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 160%;
text-align: center;
color: #050C26;
position:absolute;
top:185px;
left:150px

}
.quti-item > p{
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
text-align: center;
color: #575859;
margin-top:15px;

}
.quti-item > button{
	display: flex;
flex-direction: row;
margin:40px 99px;
padding: 15px 30px;
border: 1px solid #3988FF;
box-sizing: border-box;
border-radius: 5px;
color: #3988FF;
font-size:25px;
}
.quti-item > h5 {
	font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 160%;
text-align: center;
color: #575859;
margin-top:18px;
margin-bottom:40px;

}
#see{
	margin-top:140px;
}
#see > h1{
	font-family: Lato;
font-style: normal;
font-weight: 500;
font-size: 43px;
line-height: 140%;
color: #050C26;
margin-left:566px;
}
#see > p{
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 160%;
	color: #575859;
	margin:25px 180px 0 282px;
}
.bir > p{
	font-family: Poppins;
font-style: italic;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #050C26;
}
#over{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:130px 299px 30px 415px;
}
.bir{
	margin-right:211px;
	position:relative;
}
.bir > img{
	margin-top:30px;
}
.ikki{
font-family: Poppins;
font-style: italic;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #575859;
position:relative;
}
.mark{
	margin-top:30px;
	align-items:center;
	margin-left:-50px;
}
.mark > p{
	position:absolute;
	left:80px;
	top:145px;	
	font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: #050C26;
}
.mark > span{
	position:absolute;
	left:80px;
	top:180px;
	
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
color: #575859;
}
.jacob{
	margin-top:30px;
	align-items:center;
	margin-left:-50px;
}
.jacob > p {
position:absolute;
right:60px;
top:145px;	

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: #050C26;
}
.jacob > span{
	position:absolute;
	right:40px;
	top:180px;
}
.btn{
	background: #3988FF;
border-radius: 20px;
width: 40px;
height: 11px;
margin-left:745px;
}
footer{
	margin-top:186px;
}
