@media (min-width:0) and (max-width:464px) {
    .header-1 {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left:20px;
    }
    .header-1_h1 {
        font-size: 25px;
        line-height: 17.5px;
    }
    .header-1_menu ul li{
        display:none;
        margin-left: 15px;
        font-size: 18px;
        line-height: 18.8px;
    }
    .header_top_btn > button{
       display:none;
    }
  



    .header_content_right {
        position: absolute;
        left: 0;
        top: 0;
    }
    .header_content_right .img1{
        width:450px;
        margin-left: -101px;
        margin-top: 60px;
    }
    .header_content_right .img2{
        width:300px;
        margin-top:230px;
    }
    .header_content_right .img3{
        width:60px;
       margin-left: -85px;
       margin-top: 128px;

    }
    .header_content_right .img4{
        width:60px;
        margin-left: -280px;
        margin-top: 140px;
    }
    .header_content_right .img5{
        width:100%;
        margin-left: -330px;
        margin-top: 90px;
    }


    .header_content_left {
        font-family: 'Lato', sans-serif;
        width: 100%;
        margin-top: 380px;
        margin-left:20px;
        flex-wrap: wrap;
    }
    .header_content_left h1{
        font-size: 29px;
        font-weight: 700;
        flex-wrap: wrap;
        width:60%;
    }
    .header_content_left p { 
        width: 60%;
        /* height: 87px; */
        margin-top: 20px;
    }

    /* list-2 */

    #list2{
        margin-top:-150px;
    }
    .ikki-item h1{
        line-height: 50px;
        width:90%;
    }
    .ikki-item p{
        line-height: 40px 20px;
        width:90%;
        margin:10px;
    }
    .list-item > img{
        margin:15px;
        width:100%;
        
    }
    #itemlar{
        margin-top: 850px;
        margin-left:-450px;
    }
    .li-item{
        margin:10px 0px;
        position:relative;
    }
    .li-item img{
        width:90%;
    }
    .li-item h3{
        font-size: 20px;
        line-height: 20px;
        margin-bottom:-10px;
    }
    .li-item .span1{
        margin-left:225px;
        font-size: 15px;
    }
    .li-item .span2{
        margin-left:225px;
        font-size: 15px;
    }
    .li-item .span3{
        margin-left:225px;
        font-size: 15px;
    }
    .li-item .span4{
        margin-left:225px;
        font-size: 15px;
    }
   .lin1{
        width:80%;
    }
}