@media (min-width:0) and (max-width:464px) {
    .header-1 {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left:20px;
    }
    .boshi {
        margin: 5px auto;
        width:90%;
        /* background:url(./img/1-sahifa\ orqa.png); */
    }
    .header-1_h1 {
        font-size: 25px;
        line-height: 17.5px;
    }
    .header-1_menu ul li{
        display:none;
        margin-left: 15px;
        font-size: 18px;
        line-height: 18.8px;
    }
    .header_top_btn > button{
       display:none;
    }
  



    .header_content_right {
        position: absolute;
        left: 0;
        top: 0;
    }
    .header_content_right .img1{
        width:500px;
        margin-left: -100px;
        margin-top: 50px;
    }
    .header_content_right .img2{
        width:300px;
        margin-top:250px;
        margin-left: 20px;
    }
    .header_content_right .img3{
        width:80px;
       margin-left: -100px;
       margin-top: 100px;

    }
    .header_content_right .img4{
        width:80px;
        margin-left: -270px;
        margin-top: 105px;
    }
    .header_content_right .img5{
        width:80%;
        margin-left: -300px;
        margin-top: 80px;
    }


    .header_content_left {
        width: 80%;
        margin-top: 470px;
        margin-left:20px;
    }
    .header_content_left h1{
        font-size: 29px;
        font-weight: 700;
        flex-wrap: wrap;
        width:90%;
    }
    .header_content_left p { 
        width: 90%;
        /* height: 87px; */
        margin-top: 20px;
    }
    .watch_wideo{
        display:flex;
        margin-top:60px;
        margin-left:20px;
    }

    /* list-2 */

    #list2{
        margin-top:-120px;
    }
    .ikki-item h1{
        line-height: 50px;
        width:70%;
    }
    .ikki-item p{
        line-height: 40px 20px;
        width:70%;
        margin:10px;
    }
    .list-item > img{
        margin:15px;
        width:70%;
        margin-left: -100px;
        
    }

    #list2{
        margin-bottom: 250px;
    }
    #itemlar{
        margin-top: 70px;
    }
    #itemlar ul{
       margin-top: 20px;
       width:80%;
    }
    .li-item {
        margin:5px 0px;
    }

    .lis4{
        width:70%;
    }


    .li-item h3{
        font-size: 20px;
        line-height: 20px;
        margin-bottom:-10px;
    }
    .li-item .span1{
        margin-left:265px;
        font-size: 15px;
    }
    .li-item .span2{
        margin-left:270px;
        font-size: 15px;
    }
    .li-item .line2{
        width:100%;
    }
    .li-item .line3{
        width:90%;
    }
    .li-item .line4{
        width:130%;
    }

    .li-item .span3{
        margin-left:250px;
        font-size: 15px;
    }
    .li-item .span4{
        margin-left:250px;
        font-size: 15px;
    }
   .lin1{
        width:95%;

    }

    /* list-3 */

    #main{
        margin-top:-180px;
    }
    .ikki-item2 h3{
        width:90%;
    }

    .rasmlar{
        display:flex;
        flex-wrap: wrap;
    }
    .rasmlar img{
        width:70%;
        margin:40px 10px;
        box-shadow: 0 10px 20px 10px #999;
        padding: 15px;
      
    }


    .box > h2{	
        margin-top:50px;
        line-height: 50px;
         margin-left: 20px;
        width:80%;
        }

        .box > p{
            margin:30px 20px;
            width:80%;
            line-height: 160%;
         }

         .box2{
         display:grid;
         grid-template-columns: 400px;
         margin-top:50px;
         margin-left: 10px;

            }
        
            #box-item2{
         display:grid;
         grid-template-columns: 400px;
         margin-top:20px;
         margin-left: 10px;
         width:100%;
            }

        .box-item{
            margin-top: 10px;
            width:65%;
         }
         .bo-it{
            width: 230px;
            height: 283px;
            margin:10px;
            }

    /* list 4 */
         .navbar > .but {
            width: 300px;
            height: 59px;
            margin-top:30px;
            margin-left:10px;

        }
        .navbar > h3{
         width:80%;
        }
        .bu1{
            padding: 7px 15px; 
            margin-left:5px;
        }

        .quti{
            margin:40px 10px;
        }
        .quti-item{
            width: 300px;
            height: 613px;
        }

     /* list-5 */

     #see{
        margin-top:50px;
    }
    #see h1{
        width:80%;
    }
        #nav-bar{
            width:70%;
            margin:0 auto;
            margin-top:50px;
            padding:10px;
    }

    #nav-bar{
		width:70%;
		height:700px;
		margin-top:50px;
		padding:20px;
}	
.bir{
	position: absolute;
left: 60px;
top: 20px;
width:60%;
height: 87px;
}
.ikki{
    position: absolute;
    left:60px;
    top: 350px;
    width:60%;
    height: 87px;
    color: #050C26;
    }
    .rasm1{
        position: absolute;
        top:200px;
        left: 10px;
    }
    .rasm2{
        position: absolute;
        left:10px;
        top: 520px;
    }
    .pr span{
        position: absolute;
        top:530px;
        left:120px;
        display:inline-block;
        width:150px;
    }
    .pr p{
        position: absolute;
        top: 580px;
        left: 120px;
        display:inline-block;
        width:150px;
    }

    .clr{
        width:40px;
        height:10px;
        border-radius: 5px;
        top: 650px;
        left: 120px;
    
    }

    /* footer */

    #footer{
        margin-top:70px;
        height:950px;
        width:85%;
    }
    footer{
        width:85%;

        }

}
